#bookGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

#btn:hover {
    opacity: 50%;
}

.UL1 {
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(https://wallpapersmug.com/large/da140e/green-leaf-dense-big.jpg);
    background-size: cover;
    padding-bottom: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

p {
    font-size: 50px;
    font-family: poppins;
    text-decoration: none;
    list-style-type: none; 
}

li p {
    font-size: 50px;
    font-family: poppins;
    text-decoration: none;
    color: white;
    list-style-type: none;
}

#inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

form {
    font-size: 50px;
    font-family: poppins;
    text-decoration: none;
}

#btn {
    border: none;
    font-size: 50px;
    font-family: poppins;
    text-decoration: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
}

.footer p{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    width: 19000000000000px;
    font-size: medium;
    position: fixed;
    bottom: -16px;
}






